<h1>Law School Reporter API v1.0</h1>

<% if @random_school %>

<h2>Resources</h2>

<h3>Schools</h3>

<p>Example Requests:</p>

<ul>
  <li><%= link_to "GET api/v1/schools", api_v1_schools_path %></li>
  <li><%= link_to "GET api/v1/schools/#{@random_school.uuid}", api_v1_school_path(@random_school) %> (lookup school by :uuid) </li>
</ul>

<h3>Employment Reports</h3>

<p>Example Requests:</p>

<ul>
  <li><%= link_to "GET api/v1/employment_reports", api_v1_employment_reports_path %></li>
  <li><%= link_to "GET api/v1/employment_reports?years[]=2016&years[]=2017&schools[]=25&schools[]=36", api_v1_employment_reports_path(years: [2016, 2017], schools: [25, 36]) %></li>
</ul>

<% else %>

<p>Admin, please seed the database!</p>

<% end %>

<hr>

<p>
  <a href="https://law-school-reporter.herokuapp.com/">view</a> |
  <a href="https://github.com/data-creative/law-schools-reporter">source / docs</a>
</p>
